<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content="pandoc" />
		<meta property="og:site_name" content="Chebro's Heartbeat">
		<meta property="og:description" content="This webpage is a live feed of when cheb last used their computer. The site is serving version <%=ver%> of heartbeat.js"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<link rel="stylesheet" href="/style.css">
		<title>
			Heartbeat.js Privacy
		</title>
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<div class="spacing"></div>	
		<p style="text-align: center;"><strong><code><u>Heartbeat.js Privacy Policy</u></code></strong></p>
		<center>
			<p><code>Heartbeat.js only keeps temporary logs (to stdout).</code></p>
			<p><code>IPs are logged if found making invalid GET requests and/or non-GET requests to any (*) endpoint.</code></p>
			<p><strong><code>Your IP is NOT logged for making normal requests.</code></strong></p>
		</center>
	</body>
</html>
