<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content="pandoc" />
		<meta property="og:site_name" content="Chebro's Heartbeat">
		<meta property="og:description" content="This webpage is a live feed of when cheb last used their computer. The site is serving version <%=version%> of heartbeat.js"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<link rel="stylesheet" href="/css/style.css">
		<title>
			Stats
		</title>
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<div class="spacing"></div>
		<h4 id="ping-stats" style="text-align: center"><strong><code><u>heartbeat chart</u></code></strong></h4>
		<pre class="graph"><%=graph%></pre>
		<p style="text-align: center"><code>heartbeats/pings over the last 60 min (approx.)</code></p>
		<!--<p style="text-align: center"><code>1 = beat; 0 = null</code></p>-->
		<div class="spacing"></div>
		<div class="spacing"></div>
		<div class="center">
			<h4 id="system-info" style="text-align: center"><strong><code><u>system info</u></code></strong></h4>
			<table>
				<tbody>
				<tr class="odd">
					<td style="text-align: right;"><strong><code>os</code></strong></td>
					<td style="text-align: left;"><code><%=osname%></code></td>
				</tr>
				<tr class="even">
					<td style="text-align: right;"><strong><code>uptime</code></strong></td>
					<td style="text-align: left;"><code><%=uptime%></code></td>
				</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
