<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content="pandoc" />
		<meta property="og:site_name" content="Stats - Digital Heartbeat">
		<meta property="og:description" content="this page is a live feed of when cheb last used their computer. the site is serving version <%=version%> of heartbeat"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<link rel="preload stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" sizes="32x32"/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel=preload href=/fonts/IosevkaMinified.woff2 as=font type=font/woff2 crossorigin>
		<title>
			Stats - Digital Heartbeat
		</title>
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<h2 id="ping-stats" style="text-align: center">heartbeat chart</h2>
		<pre class="graph"><%=graph%></pre>
		<p style="text-align: center"><code>heartbeats/pings over the last 60 min (approx.)</code></p>
		<!--<p style="text-align: center"><code>1 = beat; 0 = null</code></p>-->
		<div class="spacing"></div>
		<div class="spacing"></div>
		<div class="center">
			<h2 id="system-info" style="text-align: center">system info</h2>
			<table>
				<tbody>
				<tr class="odd">
					<td style="text-align: right;"><strong><code>os</code></strong></td>
					<td style="text-align: left;"><code><%=osname%></code></td>
				</tr>
				<tr class="even">
					<td style="text-align: right;"><strong><code>uptime</code></strong></td>
					<td style="text-align: left;"><code><%=uptime%></code></td>
				</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
